<a href="https://colab.research.google.com/github/ElahehJafarigol/Coding-practice/blob/main/Python_Coding_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import libraries
import numpy as np

### Pythos Basics

[Python Basic Exercise for Beginners](https://pynative.com/python-basic-exercise-for-beginners/)

Exercise 1: Calculate the multiplication and sum of two numbers

Given two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

In [ ]:
def function(num1, num2):
    product = np.dot(num1, num2)
    if product <= 1000:
        res = product
    else:
        res = num1 + num2
    return print(f"The result is: {res}")

function(20, 30)
function(40, 30)
function(150, 1000)

Exercise 2: Print the sum of the current number and the previous number

Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

In [ ]:
def function(nums: list):
    if len(nums) < 10:
        print("The list is too short")
        return

    print("Printing current and previous number and their sum in a range(10)")
    for i in range(10):
        curr_sum = 0
        if i == 0:
            curr_sum += nums[i]
            print(f"Current number {nums[i]} Previous number {0} Sum {curr_sum}")


        else:
            curr_sum += nums[i]
            print(f"Current number {nums[i]} Previous numebr {nums[i - 1]} Sum {curr_sum}")

    return
function([1, 2,3 ])
function([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
function([])
function([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15])

Exercise 3: Print characters from a string that are present at an even index number

Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

In [ ]:
def function(string):
    for i in range(len(string)):
        if i % 2 == 0:
            print(string[i])
    return

function("pynative")

Exercise 4: Remove first n characters from a string

Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

`remove_chars("pynative", 4)` so output must be tive. Here, we need to remove the first four characters from a string.

`remove_chars("pynative", 2)` so output must be native. Here, we need to remove the first two characters from a string.

Note: n must be less than the length of the string.

In [ ]:
def function(string, n):
    ans = ""
    for i in range(n, len(string)):
        ans += string[i]
    return print(ans)


function("pynative", 4)
function("pynative", 2)

Exercise 5: Check if the first and last number of a list is the same


Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [ ]:
def function(nums):
    return nums[0] == nums[len(nums) - 1]

print(function([10, 20, 30, 40, 10]))

nums_y = [75, 65, 35, 75, 30]
print(function([75, 65, 35, 75, 30]))

Exercise 6: Display numbers divisible by 5 from a list

Iterate the given list of numbers and print only those numbers which are divisible by 5

In [ ]:
# n = 5
def function(nums: list, n):
    if len(nums) == 0:
        print("The list is empty.")
    for i in range(len(nums)):
        if nums[i] % n == 0:
            print(nums[i])
    return

function([10, 20, 33, 46, 55], 5)
function([10, 20, 33, 46, 55], 3)
function([], 5)

***Exercise 7: Return the count of a given substring from a string***

Write a program to find how many times substring “Emma” appears in the given string.

In [ ]:
# Wrong answer
def function(string, sub):
    count = 0
    curr_word = ""
    for i in range(len(string)):
        while i != " ":
            curr_word += string[i]

            if len(curr_word) == len(sub):
                for j in range(len(curr_word)):
                    if curr_word[j] != sub[j]:
                        curr_word = ""
                    else:
                        count += 1
                        curr_word = ""

            else:
                curr_word = ""

    return count

# function("Emma is good developer. Emma is a writer", "Emma")

Exercise 8: Print the following pattern

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [ ]:
# Follow up: Do I return for the given number or all the numbers prior to the given number as well?

def function(num):
    for n in range(num + 1):
        ans = ""
        for i in range(n):
            ans += str(n)
        print (" ".join(ans))

function(5)

Exercise 9: Check Palindrome Number

Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is the same after reverse. For example, 545, is the palindrome numbers

In [ ]:
def function(num):
    num_str = str(num)
    left = 0
    right = len(num_str)-1

    while left <= right:
        if num_str[left] != num_str[right]:
            print(f"Original number{num}")
            print(f"No, given number is not palindrome number")
            return
        left += 1
        right -= 1
    print(f"Original number{num}")
    print(f"Yes, given number is palindrome number")
    return

function(1234)
function(23432)
function(1)
function(234515432)

In [ ]:
# Other solution:
# Reverse the given number and save it in a different variable
# Use the if condition to check if the original and reverse numbers are identical. If yes, return True.
def palindrome(number):
    print("original number", number)
    original_num = number

    # reverse the given number
    reverse_num = 0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10

    # check numbers
    if original_num == reverse_num:
        print("Given number palindrome")
    else:
        print("Given number is not palindrome")

palindrome(121)
palindrome(125)

Exercise 10: Create a new list from two list using the following condition

Given two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [ ]:
def function(list1, list2):
    result = []

    # Odd numbers from list 1
    for i in range(len(list1)):
        if list1[i] % 2 != 0:
            result.append(list1[i])
    for i in range(len(list2)):
        if list2[i] % 2 == 0:
            result.append(list2[i])
    return result

list1 = [10, 20, 25, 30, 35]
list2 = [40, 50, 60, 75, 90]
print(f"Result list:{function(list1, list2)}")


list1 = [11, 12, 12, 34, 95]
list2 = []
print(f"Result list:{function(list1, list2)}")

list1 = []
list2 = [40, 50, 60, 75, 90]
print(f"Result list:{function(list1, list2)}")

# Follow up: Is the output list sorted?

Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [ ]:
def function(num):
    num_str = str(num)
    output = ""
    for i in num_str:
        output = output + i + " "

    return output

print(f"The output is {function(1234)}")

Exercise 12: Calculate income tax for the given income by adhering to the rules below

Taxable Income	Rate

First $10,000	0

Next $10,000	10

The remaining	20

In [ ]:
def function(income):
    tax = 0
    if income <= 10000:
        tax = 0
    elif 10000 < income <= 20000:
        tax = (income - 10000) * 0.1
    else:
        tax = (10000*0.1) + ((income - 20000) * 0.2)
    return tax

print("The owed tax is:", function(480000))

Exercise 13: Print multiplication table from 1 to 10

In [ ]:
def function(num):
    for n in range(1, num + 1):
        output = ""
        for i in range(1, 11):
            output += str(n*i) + " "
        print(output)

function(10)

Exercise 14: Print a downward Half-Pyramid Pattern of Star (asterisk)

In [ ]:
def function(length):
    output = ""
    for i in range(length, 0, -1):
        output = i*("*" + " ")
        print(output)


function(1)
print("=============")
function(2)
print("=============")
function(0)
print("=============")
function(7)

Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

Note here exp is a non-negative integer, and the base is an integer.

In [ ]:
def function(base, exp):
    if exp < 0:
        return "The exp should be non-negative"

    elif exp == 0:
        print(f"{base} to the power of {exp}: 1")

    else:
        output = 1
        for i in range(exp):
            output *= base
        print(f"{base} to the power of {exp}: {output}")

function(2, 5)
function(5, 4)
function(8, 2)

### Python Functions

[Python Functions Exercise](https://pynative.com/python-functions-exercise-with-solutions/)

Exercise 1: Create a function in Python

Write a program to create a function that takes two arguments, name and age, and print their value.

In [ ]:
def function(name, age):
    print(f"Name: {name}, age: {age}")

function("Elaheh", 34)

Name: Elaheh, age: 34

Exercise 2: Create a function with variable length of arguments

Write a program to create function func1() to accept a variable length of arguments and print their value.

Note: Create a function in such a way that we can pass any number of arguments to this function, and the function should process them and display each argument’s value.

In [ ]:
 def function(*args):
    print(" Prining values")
    for x in args:
        print(x)

function(20)
function(3, 4, 5)

 Prining values
20
 Prining values
3
4
5

Exercise 3: Return multiple values from a function

Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [ ]:
def function(num1, num2):
    addition = num1 + num2
    subtraction = np.absolute(num1 - num2)

    print(addition, ",", subtraction)

function(40, 50)

90 , 10

Exercise 4: Create a function with a default argument

Write a program to create a function show_employee() using the following conditions.

It should accept the employee’s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary

In [ ]:
def function(name, salary = 9000):
    print(f"Name: {name}, salary: {salary}")

function("Ben", 12000)
function("Jess")

Name: Ben, salary: 12000
Name: Jess, salary: 9000

Exercise 5: Create an inner function to calculate the addition in the following way

In [ ]:
def outer_function(num1, num2):
    def inner_function(num1, num2):
        return num1 + num2
    return inner_function(num1, num2) + 5

print(f"Final result is {outer_function(3, 4)}")

Final result is 12

**Exercise 6: Create a recursive function**

Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

A recursive function is a function that calls itself again and again.

Expected Output:

In [ ]:
def rec_function(num):
    if num == 0:
        return 0
    else:
        return num + rec_function(num-1)

print(rec_function(6))

21

Exercise 7: Assign a different name to function and call it through the new name

In [ ]:
def display_student(name, age):
    print(name, age)

display_student("Emma", 26)

show_student = display_student
show_student("Elaheh", 34)

Emma 26
Elaheh 34

Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [ ]:
# Follow up: Inclusinve of 30 or not?

def function(start, end):
    output = []
    for i in range(start, end):
        if i % 2 == 0:
            output.append(i)
    return output

function(4, 30)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

Exercise 9: Find the largest item from a given list

In [ ]:
def function(nums):
    return max(nums)

x = [4, 6, 8, 24, 12, 2]
function(x)

24

### Python Data Structure


[Python Data Structure Exercise for Beginners](https://pynative.com/python-data-structure-exercise-for-beginners/)

In [ ]:
# Follow up: what is the order of the output list?
def function(nums1, nums2):
    output_1 = []
    output_2 = []
    # Odd index from list 1
    for i in range(len(nums1)):
        if i % 2 != 0:
            output_1.append(nums1[i])
    print("Element at odd-index positions from list one")
    print(output_1)

    # Even index from list 2
    for i in range(len(nums2)):
        if i % 2 == 0:
            output_2.append(nums2[i])
    print("Element at even-index positions from list two")
    print(output_2)

    print("Printing the final third list")
    print(output_1 + output_2)

l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
function(l1, l2)

Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]
Printing the final third list
[6, 12, 18, 4, 12, 20, 28]

Exercise 2: Remove and add item in a list

Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

In [ ]:
def function(nums, idx, pos):
    temp = nums.pop(idx)
    print(f"List After removing element at index {idx} {nums}")

    nums.insert(pos, temp)
    print(f"List After adding element at index {pos} {nums}")

    nums.append(temp)
    print("List After adding element at last", nums)

l = [34, 54, 67, 89, 11, 43, 94]
function(l, 4, 2)

List After removing element at index 4 [34, 54, 67, 89, 43, 94]
List After adding element at index 2 [34, 54, 11, 67, 89, 43, 94]
List After adding element at last [34, 54, 11, 67, 89, 43, 94, 11]

*Exercise 3:* Slice list into 3 equal chunks and reverse each chunk

In [ ]:
def function(nums_list, num):
    length = len(nums_list)
    chunk_size = int(length/num)
    start = 0
    end = chunk_size

    for i in range(num):
        indexes = slice(start, end)
        chunk = nums_list[indexes]

        print(f"Chunk {i} {chunk}")
        reversed_chunk= chunk[::-1]
        print(f"After reversing it {reversed_chunk}")

        start = end
        end += chunk_size

sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
function(sample_list, 3)

Chunk 0 [11, 45, 8]
After reversing it [8, 45, 11]
Chunk 1 [23, 14, 12]
After reversing it [12, 14, 23]
Chunk 2 [78, 45, 89]
After reversing it [89, 45, 78]

Exercise 4: Count the occurrence of each element from a list

Write a program to iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element.

In [ ]:
def function(nums_list):
    counts = {}
    for i in nums_list:
        if i in counts.keys():
            counts[i] += 1
        else:
            counts[i] = 1
    return counts

sample = sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
count_dict = function(sample)
print("The output is:", count_dict)

The output is: {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

Exercise 5: Create a Python set such that it shows the element from both lists in a pair

In [ ]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

def function(list_1, list_2):
    output = [None]*len(first_list)
    for i in range(len(list_1)):
            output[i] = (list_1[i], list_2[i])
    return set(output)

print("The output of solution 1 is", function(first_list, second_list))

# Solution 2: Zip function:
result = zip(first_list, second_list)
result_set = set(result)
print('The output of solution 2 is:', result_set)

The output of solution 1 is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}
The output of solution 2 is: {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Exercise 6: Find the intersection (common) of two sets and remove those elements from the first set

In [ ]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

print("First Set ", first_set)
print("Second Set ", second_set)

def function(set_1, set_2):
    intersection = set()
    update_set_1 = set()
    for item in set_1:
        if item in set_2:
            intersection.add(item)
        else:
            update_set_1.add(item)
    return update_set_1, intersection

sample_1 , intersection_ = function(first_set, second_set)
print('Intersection is', intersection_)
print('First set after removing common element:', sample_1)

# Solution 2
intersection = first_set.intersection(second_set)
print("Intersection is ", intersection)
for item in intersection:
    first_set.remove(item)

print("First Set after removing common element ", first_set)

First Set  {65, 83, 23, 57, 42, 29, 78}
Second Set  {48, 67, 83, 73, 43, 29, 57}
Intersection is {57, 83, 29}
First set after removing common element: {65, 42, 78, 23}
Intersection is  {57, 83, 29}
First Set after removing common element  {65, 23, 42, 78}

Exercise 7: Checks if one set is a subset or superset of another set. If found, delete all elements from that set

In [5]:
first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}

def function(firts_set, second_set):
    if first_set.issubset(second_set):
        first_set.clear()
        print("First set is subset of second set - True")
        print("Second set is subset of first set - False")
        print("First set is Super set of second set - False")
        print("Second set is Super set of First set - True")
    elif second_set.issubset(first_set):
        second_set.clear()
        print("First set is subset of second set - False")
        print("Second set is subset of first set - True")
        print("First set is Super set of second set - True")
        print("Second set is Super set of First set - False")
    else:
        pass
    print(f"First Set: {first_set} \nSecond Set: {second_set}")

function(first_set, second_set)


# Solution 2
first_set = {57, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

print("First Set ", first_set)
print("Second Set ", second_set)

print("First set is subset of second set -", first_set.issubset(second_set))
print("Second set is subset of First set - ", second_set.issubset(first_set))

print("First set is Super set of second set - ", first_set.issuperset(second_set))
print("Second set is Super set of First set - ", second_set.issuperset(first_set))

if first_set.issubset(second_set):
    first_set.clear()

if second_set.issubset(first_set):
    second_set.clear()

print("First Set ", first_set)
print("Second Set ", second_set)

First set is subset of second set - True
Second set is subset of first set - False
First set is Super set of second set - False
Second set is Super set of First set - True
First Set: set()
Second Set: {48, 34, 53, 22, 27, 43, 93}
First Set  {57, 83, 29}
Second Set  {48, 67, 83, 73, 43, 29, 57}
First set is subset of second set - True
Second set is subset of First set -  False
First set is Super set of second set -  False
Second set is Super set of First set -  True
First Set  set()
Second Set  {48, 67, 83, 73, 43, 29, 57}

Exercise 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

In [13]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'John':47,
               'Emma':69,
               'Kelly':76,
               'Jason':97}

def function(sample_list, sample_dict):
    final_list = []
    for i in range(len(sample_list)):
        if sample_list[i] in sample_dict.values():
            final_list.append(sample_list[i])
    print(f"After removing unwanted elements from list {final_list}")

function(roll_number, sample_dict)

# Solution 2: List comprehension
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}

print("List:", roll_number)
print("Dictionary:", sample_dict)

# create new list
roll_number[:] = [item for item in roll_number if item in sample_dict.values()]
print("after removing unwanted elements from list:", roll_number)

After removing unwanted elements from list [47, 69, 76, 97]
List: [47, 64, 69, 37, 76, 83, 95, 97]
Dictionary: {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}
after removing unwanted elements from list: [47, 69, 76, 97]

The list comprehension `[item for item in roll_number if item in sample_dict.values()]` iterates over each item in the roll_number list.
if `item` in `sample_dict.values()` checks if the current `item` exists in the values of sample_dict.

Filtered List:
Only the items in `roll_number` that are also values in `sample_dict` are included in the new list.

Updating roll_number:
`roll_number[:] = [...]` updates the original roll_number list in place with the filtered list.
The slice notation `[:]` ensures that the original list is modified rather than creating a new list.

Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates

In [16]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}

def function(sample_dict):
    output = []
    for i in sample_dict.values():
        if i not in output:
            output.append(i)
    return output

function(speed)

[47, 52, 44, 53, 54]

Exercise 10: Remove duplicates from a list and create a tuple and find the minimum and maximum number

In [22]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

def function(sample_list):
    output = []
    for i in sample_list:
        if i not in output:
            output.append(i)
    print(f"tuple {tuple(output)} \nmin:{min(output)} \nmax:{max(output)}")

function(sample_list)

tuple (87, 45, 41, 65, 94, 99)
min:41
max:99

### Python Date and Time

[Python Date and Time Exercise with Solutions](https://pynative.com/python-date-and-time-exercise/)

### Python Object-Oriented Programming (OOP)

[Python Object-Oriented Programming (OOP) Exercise: Classes and Objects Exercises](https://pynative.com/python-object-oriented-programming-oop-exercise/)

### Python NumPy

[Python NumPy Exercise](https://pynative.com/python-numpy-exercise/)

### Python Pandas

[Python Pandas Exercise](https://pynative.com/python-pandas-exercise/)

### Python JSON

[Python JSON Exercise](https://pynative.com/python-json-exercise/)

### Python Matplotlib

[Python Matplotlib Exercise](https://pynative.com/python-matplotlib-exercise/)

### Python random Data generation

[Python random Data generation Exercise](https://pynative.com/python-random-number-generation-exercise-questions-and-challenge/)

### Python Date and Time

[Python Date and Time Exercise with Solutions](https://pynative.com/python-date-and-time-exercise/)

### Python Database Programming

[Python Database Programming Exercise](https://pynative.com/python-database-programming-exercise-with-solution/)

### Exercises for Intermediate developers

[Exercises for Intermediate developers](https://pynative.com/python-exercises-with-solutions/) (Scroll down)

### Useful Python Tips and Tricks Every Programmer Should Know

[Useful Python Tips and Tricks Every Programmer Should Know](https://pynative.com/useful-python-tips-and-tricks-every-programmer-should-know/)